In [39]:
import pandas as pd
import requests
import time
import sqlite3

In [35]:
start = 2010
end = 2015
data = []
for i in range(start, end+1):
    url = f"https://www.scrapethissite.com/pages/ajax-javascript/?ajax=true&year={i}"
    headers = {
        'User-Agent': ('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36'), 'Accept-Encoding': 'gzip, deflate', 'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8', 'Connection': 'keep-alive', 'Accept-Language': 'en-US,en;q=0.6'
    }


    response = requests.get(url, headers=headers)

    films = response.json()
    for film in films:
        title = film['title']
        year = film['year']
        awards = film['awards']
        nomination = film['nominations']
        data.append(
            {
                "Title":title,
                "Year":int(year),
                "Nomination":int(nomination),
                "Awards":int(awards)
            }
        )
    time.sleep(1)

In [38]:
df = pd.DataFrame(data)
print(df.head(20))

                              Title  Year  Nomination  Awards
0                 The King's Speech  2010          12       4
1                         Inception  2010           8       4
2                The Social Network  2010           8       3
3                       The Fighter  2010           7       2
4                       Toy Story 3  2010           5       2
5               Alice in Wonderland  2010           3       2
6                        Black Swan  2010           5       1
7                 In a Better World  2010           1       1
8                    The Lost Thing  2010           1       1
9                       God of Love  2010           1       1
10                      The Wolfman  2010           1       1
11                Strangers No More  2010           1       1
12                       Inside Job  2010           1       1
13                       The Artist  2011          10       5
14                             Hugo  2011          11       5
15                    The Iron Lady  2011           2       2
16                  The Descendants  2011           5       1
17  The Girl with the Dragon Tattoo  2011           5       1
18                Midnight in Paris  2011           4       1
19                         The Help  2011           4       1

In [40]:
df.to_csv("Oscar_movies.csv", index=False)

df.to_excel("Oscar_movies.xlsx", index=False)

df.to_json("Oscar_movie.json", orient='records', indent=4)

connection = sqlite3.connect("Oscar_movie.db")
df.to_sql("Oscars Movies", connection, if_exists="replace", index=False)
connection.close()